<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group 2 Team Project</title>
  <link rel="stylesheet" href="style.css">
  <style>
    a[target="_blank"]:after {
      content: "\1F517"; /* Unicode character for a lock emoji */
      display: inline-block;
      margin-left: 5px; /* Adjust as needed */
      font-size: 1em; /* Adjust as needed */
    }
  </style>
  <link rel="stylesheet" href="notifications.css">
  <script type="module" src="./script.js" defer></script>
</head>

<body>
  <main>
    <div id="sessionStatus" class="notification"><%= message %></div>
    <h1>Group 2 Team Project</h1>
    <ul>
      <li><a href="" target="_blank">/api-docs</a></li>
      <li><a href="/github-auth" target="">Sign in with github</a></li>
      <li><a href="/google-auth" target="">Sign in with google</a></li>
    </ul>
    <input type="checkbox" id="swaggle">
  <label for="swaggle">swagger</label>
  <div id="swaggy"></div>
  
  <input type="checkbox" id="toggle">
  <label for="toggle">CSE 341 Final project Proposal</label>

  <div id="embeddedHtmlId">
    </div>




  </main>
</body>

</html>